<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="">
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">

                                    <div class="mb-md-5 mt-md-4 pb-5">

                                        <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                                        @if (ViewBag.AuthError != null)
                                        {
                                            <span class="text-danger">@ViewBag.AuthError</span>
                                        }
                                        <form asp-action="SignIn" method="post">
                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="email">Email</label>
                                                <input type="email" required name="email" id="email" class="form-control form-control-lg" />
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="password" required name="password" id="password" class="form-control form-control-lg" />
                                            </div>
                                            <div class="col-8">
                                                <div class="icheck-primary">
                                                    <input type="checkbox" name="rememberMe" id="remember">
                                                    <label for="remember">
                                                        Remember Me
                                                    </label>
                                                </div>
                                            </div>


                                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>

                                        </form>

                                    </div>

                                    <div>
                                        <p class="mb-0">
                                            Do you have an account? <a asp-controller="Home" asp-action="SignUp" class="text-white-50 fw-bold">Sign Up</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>